<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="${baseurl}styles/zero.css" type="text/css" />
    <link rel="stylesheet" href="${baseurl}styles/style.css" type="text/css" />
    <link rel="stylesheet" href="${baseurl}styles/blog.css" type="text/css" />

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="${rssurl}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata" />
    <link href='http://fonts.googleapis.com/css?family=Hammersmith+One&amp;v2' rel='stylesheet' type='text/css' />

    <style>
        #blog
        {
            opacity: 1.0 !important;
        }
    </style>
    <title>${Markup(title)}</title>
  </head>
  <body class="index">
    <xi:include href="button-bar.html" />

    <py:if test="nextPage != ''"><div class="navwrapperl"><a class="nav" href="${nextPage}" title="Older Posts">&larr;</a></div></py:if>
    <py:if test="previousPage != ''"><div class="navwrapperr"><a class="nav" href="${previousPage}" title="Newer Posts">&rarr;</a></div></py:if>

    <div id="main">
    ${Markup(content)}
    </div>
    
  </body>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-86821-5");
  pageTracker._setDomainName(".hortont.com");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</html>