<div id="buttonbar">
    <table width="100%">
        <tr align="center">
            <td></td>
            <td class="buttonCell"><a href="${blogurl}"><div id="blog" class="button">blog</div></a></td>
            <td class="buttonCell"><a href="${blogurl}history"><div id="history" class="button">history</div></a></td>
            <td class="buttonCell"><a href="${baseurl}projects"><div id="projects" class="button">projects</div></a><br/></td>
            <td class="buttonCell"><a href="${baseurl}profiles.html"><div id="profiles" class="button">profiles</div></a></td>
            <td class="buttonCell"><a href="${baseurl}about.html"><div id="about" class="button">about</div></a></td>
            <td></td>
        </tr>
    </table>
</div>