<span>
<style>
#buttonbar-$currentPage {
    color: #222;

    -webkit-box-shadow: 0 0 20px #999;
    -moz-box-shadow: 0 0 20px #999;
    box-shadow: 0 0 20px #999;
}
</style>
<ul class="buttonbar">
    <li><a id="buttonbar-blog" href="${blogurl}">blog</a></li>
    <li><a id="buttonbar-history" href="${blogurl}history">history</a></li>
    <li><a id="buttonbar-projects" href="${baseurl}projects">projects</a></li>
    <li><a id="buttonbar-about" href="${baseurl}about.html">about</a></li>
</ul>
</span>