<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="${baseurl}styles/style.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata" />
    <link href='http://fonts.googleapis.com/css?family=Hammersmith+One&amp;v2' rel='stylesheet' type='text/css' />
    <title>${Markup(post.title)}</title>
    <meta property="og:title" content="${Markup(post.title)}" />
    <meta property="og:site_name" content="hortont • blog" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="author" content="Tim Horton" />
    <meta property="twitter:creator" content="@hortont424" />
    <meta property="article:author" content="https://www.facebook.com/hortont" />
  </head>
  <body class="index">
    <xi:include href="button-bar.html" />
    <div id="content">
    ${Markup(post.content)}
    </div>
  </body>
</html>
