.postTitle {
    margin: 0px auto 0px auto;
    width: 670px;
    height: 40px;
    font-size: 28pt;
    fill: #0B486B;
    font-family: "Helvetica Neue", "Helvetica", "Verdana";
    font-weight: 800;
}

.post {
    margin: -7px 0px 40px 30px;
    padding: 10px 20px;
    width: 600px;
    background-color: white;

    border-radius: 0px 0px 15px 15px;
    font-family: "Helvetica", "Verdana";
    line-height: 1.4em;
    font-size: 12pt;
    text-align: justify;
    color: #444;
}

#main {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 700px;
}

#sidebar {
    position: absolute;
    top: 180px;
    left: 700px;
    right: 0px;
    color: #ddd;
    font-family: "Helvetica", "Verdana";
}

p {
    margin: 0px;
}

p + p {
    margin-top: 1.5em;
}

.dateline {
    font-size: 10pt;
    font-weight: normal;
    font-family: "Verdana";
    text-align: right;
    text-anchor: end;
    fill: white;
}

.year[class~=dateline] {
    opacity: 0.4;
}

.month[class~=dateline] {
    opacity: 0.6;
}

.day[class~=dateline] {
    opacity: 0.9;
}

.stripe1 { fill: #CFF09E }
.stripe2 { fill: #A8DBA8 }
.stripe3 { fill: #79BD9A }
.stripe4 { fill: #3B8686 }

a {
    color: #3B8686;
    text-decoration: none;
}

a.nav
{
    text-decoration: none;
    color: #CCC;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: #edeceb 0px 0px 8px;
}

a.nav:hover
{
    color: #FFF;
}

div.navwrapperl
{
    position: fixed;
    left: 8px;
    bottom: 5px;
}

div.navwrapperr
{
    position: fixed;
    right: 8px;
    bottom: 5px;
}
