body
{
    background-color: #edeceb;
    font-family: 'Myriad Pro', 'Calibri', 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
}

a
{
    color: #38e;
    text-decoration: none;
}

a:hover
{
    color: #27d;
    text-decoration: underline;
}

img
{
    border: 0px;
}

h1
{
    color: #333;
    font-weight: normal;
    font-size: 1.7em;
    margin: 0px;
}

h1>a
{
    color: #333;
}

h2
{
    color: #888;
    font-weight: normal;
    font-size: 0.9em;
    margin: 0px;
}

li
{
    padding-bottom: 0.6em;
}

#posts
{
    width: 100%;
}

div.postContent
{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px !important;
    color: #444;
    font-size: 0.8em;
    background-color: #fff;
    width: 600px;
    padding: 20px 20px 5px 20px;
    margin: 0px 0px 20px 0px;
    line-height: 1.5em;
    text-align: justify;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7) !important;
}

ul.buttonbar
{
    padding: 15px 0;
    width: 640px;
    display: block;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

ul.buttonbar > li
{
    width: 100px;
    display: inline-block;
    margin: 0 12px;
}

ul.buttonbar > li:first-child
{
    margin-left: 0;
}

ul.buttonbar > li:last-child
{
    margin-right: 0;
}

ul.buttonbar > li > a
{
    display: inline-block;

    width: 90px;
    height: 30px;

    color: #444;
    text-decoration: none;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    font-size: 14pt;

    border: 2px solid #928E8C;
    padding-top: 10px;

    background: -webkit-linear-gradient(bottom, #e4e4e4 0%, #f5f5f5 50%, #fafafa 50%, #ffffff 100%);
    background: -moz-linear-gradient(bottom, #e4e4e4 0%, #f5f5f5 50%, #fafafa 50%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #e4e4e4 0%, #f5f5f5 50%, #fafafa 50%, #ffffff 100%);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    -webkit-box-shadow: 0 0 10px #aaa;
    -moz-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;

    -webkit-transition: -webkit-box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
    -webkit-transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
}

ul.buttonbar > li > a:hover
{
    color: #222;

    -webkit-box-shadow: 0 0 20px #777;
    -moz-box-shadow: 0 0 20px #777;
    box-shadow: 0 0 20px #777;
}

pre
{
    font-family: 'Inconsolata', 'Droid Sans Mono', 'Courier New', monospace;
    font-size: 1.2em;
    padding: 1em 0.5em;
    border: 1px solid #ddd;
    margin: 0px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
    body
    {
        background-color: #222;
    }

    h1, h1>a
    {
        color: #ddd;
    }

    div.postContent
    {
        color: #eee;
        background-color: #333;
    }

    ul.buttonbar > li > a
    {
        color: #7c7c7c;

        border: 2px solid #928E8C;

        background: -webkit-linear-gradient(bottom, #3e3e3e 0, #141414 50%, #333333 50%, #5d5d5d 100%);
        background: -moz-linear-gradient(bottom, #3e3e3e 0, #141414 50%, #333333 50%, #5d5d5d 100%);
        background: -o-linear-gradient(bottom, #3e3e3e 0, #141414 50%, #333333 50%, #5d5d5d 100%);

        -webkit-box-shadow: 0 0 10px #111;
        -moz-box-shadow: 0 0 10px #111;
        box-shadow: 0 0 10px #111;
    }

    ul.buttonbar > li > a:hover
    {
        color: #c4c4c4;

        -webkit-box-shadow: 0 0 20px #000;
        -moz-box-shadow: 0 0 20px #000;
        box-shadow: 0 0 20px #000;
    }
}